body {
  background-image: url("./img/nomad-background.jpg");
  background-size: cover;
}

h1 {
  font-family: 'Amatic SC', cursive;
  color:ivory;
  text-align: center;
  font-size: 300px;

}

p {
  font-family: 'Amatic SC', cursive;
  color:ivory;
  text-align: center;
}