
/* body {
  height: 700vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 250px;
} */


.d-grid  {
  margin:auto;
  padding-top: 100px;
  font-family: 'Amatic SC', cursive;
  font-size: 100px;
  width:250px;
  height:100px;
}